input[type="number"] {
  max-width: 60%;
}
/*
div.outer {
  position: fixed;
  top: -13px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  padding: 0;
}*/

.topRow {
  margin-top : 10px;
}

.subsetLinks {
  padding: 5px;
  line-height : initial;
  border-bottom: 1px solid #ccc;
}

.subsetLink{
  border: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
  font-size: 18px;
  margin: 0 5px;
  padding: 5px 15px;
}

.subsetLink.selected {
  background-color: #c4e3ed;
}

.subsetLink a {
  color: black;
  text-transform : capitalize;
}

.reportButtons {
  display : flex;
  justify-content : flex-end;
  padding : 30px 15px;
  width : 95%;
}

.reportButton {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 10px;
  font-size: 14px;
}


.reportButton:hover, .reportButton:focus{
  border: 0px;
  color: #fff;
  background-color: #4d90fe;
}


.selector {
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  padding: 5px;
}

.selector h4 {
  margin-top : 15px;
}

.chooseOptions {
  padding-top : 20px;
}

.displayMap {
  width: 95%;
  height: 600px;
  border: 2px solid black;
}

.right {
  float: right;
  margin-right: 20px;
}

.filter {
    align-items: center;
    display: flex;
    margin: auto;
}

.filterValue {
  margin-bottom: 15px;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls1 {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.4;
  zoom: 0.9;
  transition: opacity 500ms 0ms;
}
#controls1:hover {
  /* Fade in while hovering */
  opacity: 0.9;
  transition-delay: 0;
}

#controls2 {
  /* Appearance */
  background-color: rgba(100, 100, 100, 0);
  border-color: rgba(100, 100, 100, 0);
  padding: 5px 5px 5px 5px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.6;
  zoom: 0.9;
  transition: opacity 500ms 0ms;
}
#controls2:hover {
  /* Fade in while hovering */
  opacity: 0.9;
  transition-delay: 0;
}

#controls3 {
  /* Appearance */
  background-color: white;
  padding: 0px 0px 0px 0px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.4;
  zoom: 0.9;
  transition: opacity 500ms 0ms;
}
#controls3:hover {
  /* Fade in while hovering */
  opacity: 0.9;
  transition-delay: 0;
}


/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

.shiny-progress .progress-text {
  /*position: absolute;*/
  /*right: 20px;*/
  /*top: 300px;*/
  /*height: 25px;*/
  width: 600px;
  background-color: #FF6347;
  color: black;
  /*margin-left: 50%;*/
  margin-right: 32%;
  /*margin-left: 12%;*/
  margin-top: 4%;
  padding: 5px 100px 35px 120px;
  opacity: 0.8;
  font-size: 18px;
}


.shiny-progress .bar {
background-color: #FF6347;
.opacity = 0.8;
  width: 300px;
}

.shiny-progress .progress {
height:1px;
}

.leaflet {
  height: 100%; 
  width: 100%;
}

/*#calendar{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/


/*#graph3{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

#barplot1{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#barplot2{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#imageRAZO{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Q1,#Q2,#Q3,#Q4,#Q5,#Q6,#Q7,#Q8,#Q9,#Q10,#Q11{
  color: black;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
}


#a7,#a8{
  color: black; 
  background-color: lightblue;
  /*opacity:0.1;*/
}


nav .container:first-child{
  margin:0;      
  width: 100%;
}

.container {
    width: 100%;
    white-space: nowrap;
}

.navbar{
  background-color: #c4e3ed;
  border-color: #c4e3ed;
}

/*.navbar .nav{*/
 /* text-shadow: 0 -1px 0 gray;*/
 /* color:  black;*/
/*}*/

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: #c4e3ed;
  color: white;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background-color: #8ac7db;
  color: white;
}


.navbar .navbar-header .navbar-brand {
    color: white;
} 

.navbar .navbar-header .navbar-brand:hover {
    color: tomato;
} 


.leaflet-draw {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: center;
}

.leaflet-draw a, .leaflet-draw a:hover{
 
}

.leaflet-top {
  width: 100%;
}

.leaflet-draw-toolbar {
  display:inline-flex;
  margin-right: 15px;
  margin-top: 20px;
}

.leaflet-draw-toolbar a,  .leaflet-draw-toolbar a:hover{
   border-right: 1px solid #ccc;
  border-bottom : none;
  background-size: 405px 45px;
  height : 39px;
  width : 39px;
}

.leaflet-bar a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.leaflet-bar a:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.leaflet-right .leaflet-draw-actions {
    left: auto;
    right: auto;
}

.leaflet-right .leaflet-draw-actions li:first-child a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.leaflet-right .leaflet-draw-actions li:last-child a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.leaflet-draw-toolbar {
  display:inline-flex;
  margin-right: 15px;
  margin-top: 20px;
}


.leaflet-draw-toolbar .leaflet-draw-draw-polygon {
    background-position: -47px -3px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
    background-position: -93px -3px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-circle {
    background-position: -138px -3px;
}

.leaflet-draw-toolbar .leaflet-draw-edit-edit.leaflet-disabled {
    background-position: -318px -3px;
}

.leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled {
    background-position: -363px -3px;
}

.leaflet-draw-toolbar .leaflet-draw-edit-edit {
    background-position: -228px -3px;
}

.leaflet-draw-toolbar .leaflet-draw-edit-remove {
    background-position: -272px -3px;
}

.leaflet-draw-actions {
  top: 65px !important;
}
